<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop page</title>
    <link rel="stylesheet" href="shop.css">

    
</head>

<header class="main_header">
    <nav class="main_header_nav">
        <ul class="main_header_list_item">
            <li class="main_header_list"><a href="/">Shop</a></li>
            <li class="main_header_list"><a href="/add">Admin</a></li>
        </ul>
    </nav>
    
    
    <main>

       <h1>product data</h1>
    </main>
</header>
<body>
    
</body>
</html>