
 <!-- <table border="2px solid black" width="100%" >
        <% if(prods.length > 0) { %>
        <tr text-align="center">
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>

        </tr>

        <% for (let prod of prods) { %>
        <tr style="text-align: center;">

                    <td><%= prod.id %></td>
                    <td><%= prod.name %></td>
                    <td><%= prod.email %></td>
                    <td><%= prod.city %></td>

        </tr>
        <%} %>

        <% } else { %>
            <h1>page not found</h1>
            <% } %>
    </table>
     -->
